* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Electrolize', sans-serif;
}

body {
    height: 4000px;
    overscroll-behavior-y: none;
    background-color: #161616;
    color: #fff;
}


.progress {
    position: fixed;
    right: 20px;
    top: 40%;
    width: 60px;
    height: 20%;
    display: flex;
    justify-content: space-between;
    will-change: transform;
    transition: 0.3s ease-out;

    &__bar-wrap {
        position: relative;
        width: 5px;
        border: 1px solid black;
        border-radius: 10px;
        overflow: hidden;
        background-color: rgb(70, 70, 70);
    }
    &__bar {
       position: absolute;
       bottom: 0;
       width: 100%;
       height: 0%;
       background-color: rgb(109, 109, 109); 
    }
}

section {
    height: 1000px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

body::-webkit-scrollbar {
    display: none;
}